body{
    background: rgb(241, 231, 231);
    font-family: 'Courier New', Courier, monospace;
   text-align: center;
}
.tittle{
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 32px;
}
.header{
    display: flex;
    gap: 52px;
    justify-content: center;
}
/* .text{
    width: 200px;
} */
.info{
    align-items: center;
    max-width:200px;
}
.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #eee;
}